name: Go App CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23'

      - name: Install dependencies
        run: go mod tidy
        working-directory: ./src

      - name: Run tests
        run: go test ./...
        working-directory: ./src

      - name: Build Docker Image
        run: docker build -t course-app1:ci .

